.ui-list-box {
  padding: 0;
  margin: 0;
  max-width: 8em;
  min-height: 1em;
  max-height: 10em;
  border: 1px solid black;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  user-select: none;
}

.ui-list-box::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.ui-list-box::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.ui-list-box > input[type="radio"] {
  position: absolute;
  left: -20em;
}

.ui-list-box > input[type="radio"] + label {
  display: block;
  padding: 2px;
}

.ui-list-box > input[type="radio"]:checked + label {
  background-color: #C0C0FF;
}

.ui-list-box > input[type="radio"]:focus + label {
  border: 1px dotted black;
  padding: 1px;
}

.ui-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 9;
  z-index: 9999;
  background: rgba(0, 0, 0, .5);
}

.ui-overlay > div {
  position: absolute;
  top: 50%;
  left: 50%;
  background: white;
  border: 1px solid black;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 1em;
}
